@import url('https://fonts.googleapis.com/css2?family=Averia+Gruesa+Libre&display=swap');

.top{
    font-family: 'Averia Gruesa Libre', cursive;
}

.bs{
    padding: 25px;
}

.note__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}

